@model ExpressVoitures.Models.Vehicle

<img src="@Model.ImagePath" class="rounded mx-auto d-block img-thumbnail mb-3" alt="Image du véhicule">

<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Vin)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Vin)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Year)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Year)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PurchaseDate)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PurchaseDate)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PurchasePrice)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PurchasePrice)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.AvailabilityDate)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.AvailabilityDate)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.SaleDate)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.SaleDate)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Brand)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Brand.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Model)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Model.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.TrimLevel)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.TrimLevel.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.TotalRepairCost)
    </dt>
    <dd class="col-sm-8">
        @String.Format("{0:F2} €", @Model.TotalRepairCost)
    </dd>
</dl>

<div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
    <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
</div>
