@model IEnumerable<ExpressVoituresV2.Models.Vehicle>

@{
    ViewData["Title"] = "Les véhicules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	function loadDetails(id, title) {
		const url = `@Url.Action("Details", "Vehicles")?id=${id}`;
		fetch(url)
			.then(response => response.text())
			.then(html => {
				document.getElementById('modalLabel').innerText = title; // Modal Title
				document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

				var modal = new bootstrap.Modal(document.getElementById('Modal'));
				modal.show();
			})
			.catch(error => console.error('Error loading the details:', error));
	}

	function loadDelete(id, title) {
		const url = `@Url.Action("Delete", "Vehicles")?id=${id}`;
		fetch(url)
			.then(response => response.text())
			.then(html => {
				document.getElementById('modalLabel').innerText = title; // Modal Title
				document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

				var modal = new bootstrap.Modal(document.getElementById('Modal'));
				modal.show();
			})
			.catch(error => console.error('Error loading the details:', error));
	}
</script>

<h1 class="text-center mt-5">Les véhicules</h1>

<div class="d-flex flex-row justify-content-end mt-5 mb-3">
	<a class="btn btn-primary" asp-action="Create">
		<i class="bi bi-plus-circle-fill me-1"></i> Ajouter un véhicule
	</a>
</div>

<div class="p-4 rounded bg-white shadow-lg">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Vin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Brand)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Model)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TrimLevel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PurchaseDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PurchasePrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AvailabilityDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SalePrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SaleDate)
			</th>
			<th>
				Actions
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Vin)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Brand.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Model.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TrimLevel.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PurchaseDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PurchasePrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AvailabilityDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SalePrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SaleDate)
				</td>
				<td>
					<div class="btn-group">
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Editer</a>

						<button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="visually-hidden">Toggle Dropdown</span>
						</button>
						
						<ul class="dropdown-menu">
							<li>
									<a href="javascript:void(0);" data-bs-toggle="modal" onclick="loadDetails('@item.Id', 'Détail du véhicule')" class="dropdown-item"><i class="bi bi-eye-fill"></i> Voir</a>
							</li>
							<li>
									<a href="javascript:void(0);" data-bs-toggle="modal" onclick="loadDelete('@item.Id', 'Supprimer le véhicule')" class="dropdown-item"><i class="bi bi-trash-fill"></i> Supprimer</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>
