@model IEnumerable<ExpressVoituresV2.Models.TrimLevel>

@{
    ViewData["Title"] = "Les finitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function loadEdit(id, title) {
        const url = `@Url.Action("Edit", "TrimLevels")?id=${id}`;
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('modalLabel').innerText = title; // Modal Title
                document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

                var modal = new bootstrap.Modal(document.getElementById('Modal'));
                modal.show();
            })
            .catch(error => console.error('Error loading the details:', error));
    }

    function loadCreate(title) {
        const url = `@Url.Action("Create", "TrimLevels")`;
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('modalLabel').innerText = title; // Modal Title
                document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

                var modal = new bootstrap.Modal(document.getElementById('Modal'));
                modal.show();
            })
            .catch(error => console.error('Error loading the details:', error));
    }

    function loadDetails(id, title) {
        const url = `@Url.Action("Details", "TrimLevels")?id=${id}`;
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('modalLabel').innerText = title; // Modal Title
                document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

                var modal = new bootstrap.Modal(document.getElementById('Modal'));
                modal.show();
            })
            .catch(error => console.error('Error loading the details:', error));
    }

    function loadDelete(id, title) {
        const url = `@Url.Action("Delete", "TrimLevels")?id=${id}`;
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.getElementById('modalLabel').innerText = title; // Modal Title
                document.querySelector('#Modal .modal-body').innerHTML = html; // Modal body

                var modal = new bootstrap.Modal(document.getElementById('Modal'));
                modal.show();
            })
            .catch(error => console.error('Error loading the details:', error));
    }
</script>

<h1 class="text-center mt-5">Les finitions</h1>

<div class="col-lg-8 mx-auto">
    <div class="d-flex flex-row justify-content-end mt-5 mb-3">
        <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" onclick="loadCreate('Créer une finition')">
            <i class="bi bi-plus-circle-fill me-2"></i> Créer une finition
        </a>
    </div>

    <div class="p-4 rounded bg-white shadow-lg">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                    <th scope="col" class="text-end">Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                                <a href="javascript:void(0);" data-bs-toggle="modal" onclick="loadEdit('@item.Id', 'Modifier la finition')" class="btn btn-secondary btn-sm">Modifier</a>

                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0);" data-bs-toggle="modal" onclick="loadDetails('@item.Id', 'Détail de la finition')" class="dropdown-item">
                                        <i class="bi bi-eye-fill"></i> Voir</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-bs-toggle="modal" onclick="loadDelete('@item.Id', 'Supprimer la finition')" class="dropdown-item">
                                        <i class="bi bi-trash-fill"></i> Supprimer</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
